:root {
  --orange-color: #ed9f18;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: Open Sans, sans-serif !important;
}

header {
  position: relative;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.mugshot {
  width: 10rem;
  border-radius: 0.8rem;
  position: absolute;
  right: 100%;
  top: 0;
  margin-right: 1em;
}

.img-rounded {
  border-radius: 0.8em;
}

::selection {
  background: var(--orange-color);
  color: #fff;
}

::-moz-selection {
  background: var(--orange-color);
  color: #fff;
}

#instantclick-bar {
  background: var(--orange-color);
}

svg path {
  transition: all 0.3s;
}

blockquote {
  border-left: 5px solid var(--orange-color);
  margin: 0;
  font-family: "PT Serif";
  font-style: italic;
  padding-left: 2em;
  color: #666;
}

blockquote .blockquote-source {
  color: #999;
  text-align: right;
  font-size: 0.8em;
}

blockquote .blockquote-source:before {
  content: "\2014\00a0";
}

#homebutton {
  position: absolute;
  top: 0.6rem;
  width: 1.6rem;
  margin-left: -3rem;
}

#homebutton svg {
  height: 1.6rem;
  width: 100%;
  margin-bottom: 1em;
  transition: transform 0.2s;
  -webkit-transition: -webkit-transform 0.2s;
}

#homebutton svg#a:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
}

#homebutton span {
  display: none;
}

#homebutton path {
  fill: var(--orange-color);
}

#homebutton svg#downchevron {
  height: 0.5rem;
}

#homebutton svg#downchevron path {
  fill: #666;
}

a {
  text-decoration: none;
  color: var(--orange-color);
}

a:hover {
  text-decoration: underline;
}

a:focus {
  background: #4678ef;
  outline: 5px solid #4678ef;
  color: white;
}

p {
  line-height: 1.7;
}

img {
  max-width: 100%;
  transition: all 0.3s;
}

a img:hover {
  box-shadow: 0px 0px 10px var(--orange-color);
}

h1,
h2,
h3 {
  color: #666;
}

p small {
  color: #666;
}

h1 span,
h2 span,
h3 span {
  color: var(--orange-color);
}

.text-orange {
  color: var(--orange-color);
}

.container {
  margin: 0 auto;
  max-width: 34rem;
  position: relative;
}

.footer {
  margin-top: 50px;
}

/*rgb(237, 159, 24)*/

.footer-text {
  font-style: italic;
  font-size: 0.8em;
  color: #666;
}

@media (max-width: 1140px) {
  .container-homepage {
    margin-left: 12rem;
  }
}

@media (max-width: 580px) {
  .mugshot {
    visibility: hidden;
  }
  .container {
    margin: 0;
  }
}

@media (max-width: 680px) {
  .container {
    padding: 0 10px;
  }
  body {
    font-size: 80%;
  }
}

@media (max-width: 780px) {
  #homebutton {
    position: static;
    float: right;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 0.67em;
  }
  #homebutton svg:not(:first-child) {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {

  :root {
    --orange-color: #ed9f18;
  }

  html {
    background: #333;
    color: #ddd;
  }

  .footer-text {
    color: #777;
  }

  h1,
  h2,
  h3 {
    color: #ddd;
  }
  #homebutton svg#downchevron path {
    fill: #777;
  }
}
